venv/
*.venv/
env/
.env/

.env
*.env.local
*.env.*.local
.env.development

*.db
*.sqlite
*.sqlite3

*.pdf
*.dump
*.sql

__pycache__/
*.py[cod]
*$py.class

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.pytest_cache/
.coverage
htmlcov/

# macOS
.DS_Store
.AppleDouble
.LSOverride

*.log
logs/